.section {
    width: 1175px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

section {
    padding: 15px 0 15px;
    background: #fff;
}

body {
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0px;
}

a{
    transition: all 200ms linear;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    background: transparent;
}

a:hover {
    color: #a1ce92;
}

.header {
    align-items: center;
    padding: 3rem 0;
}

.header-title{
    font-size: 175%
}

.header-subtitle{
    font-size: 100%
}
p {
    display: block;
    margin: 0%;
}

.h2-intro{
    font-weight: normal;
}

.row {
    display: flex;
}

.header-column-left {
    flex: 50%;
}

.header-column-right {
    flex: 50%;
    text-align: right;
}